<app-header></app-header>
<div class="page-header">
  <div class="header-content">
    <button class="back-button">
      <i class="icon-arrow-left"></i>
      <span>Voltar</span>
    </button>

    <div class="page-title">
      <h1>Personalize sua {{pizzaTipo?.nome}}</h1>
      <p class="subtitle">{{pizzaTipo?.descricao}}</p>
    </div>
  </div>
</div>

@if (isLoading) {
<div>
  <app-loading></app-loading>
</div>
}@else {
<app-lista-sabores [pizzaSabores]="pizzaSabores">
</app-lista-sabores>
}
<app-footer-fixed></app-footer-fixed>
