<div class="flavor-selector-container">

  <h2>1. Escolha o(s) Sabor(es)</h2>
  <p class="instructions">Selecione um sabor.</p>

  <div class="flavor-list">

    @for (sabor of pizzaSabores; track sabor.id) {
    <div class="flavor-item"
         [class.selected]="isSelecionado(sabor)"
         (click)="selecionarSabor(sabor)">

      <div class="flavor-image-column">
        <div class="img-placeholder">
          <img src="{{ sabor.imagemUrl }}" alt="{{ sabor.nome }}" class="flavor-image" />
        </div>
      </div>

      <div class="flavor-info">
        <h3 class="flavor-title">{{ sabor.nome }}</h3>
        <p class="flavor-description">{{ sabor.descricao }}</p>
      </div>

      <div class="flavor-price">
        + R$ {{ sabor.preco | number:'1.2-2' }}
      </div>

    </div>
    }
  </div>
</div>
